[submodule "line-tracer"]
	path = line-tracer
	url = https://github.com/SorataBaka/line-tracer.git
[submodule "motion-capture"]
	path = motion-capture
	url = https://github.com/SorataBaka/motion-capture.git
[submodule "falling-game-of-life"]
	path = falling-game-of-life
	url = https://github.com/SorataBaka/falling-game-of-life.git
[submodule "nlp-assignment"]
	path = nlp-assignment
	url = https://github.com/SorataBaka/NLP-assignment.git
[submodule "java-report"]
	path = java-report
	url = https://github.com/SorataBaka/java-report.git
[submodule "iot-lab"]
	path = iot-lab
	url = https://github.com/SorataBaka/IOT-lab.git
[submodule "fusion-lab"]
	path = fusion-lab
	url = https://github.com/SorataBaka/fusion-lab.git
